body {
	margin: 0px;
	background-color: #FFFFFF;
	background-image: url(images/back.gif);
	background-repeat: repeat-x;
}
a {
	color: #000000;
}

#page {
	height: auto;
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}
#page #head {
	height: 100px;
	width: 100%;
	background-color: #333333;
	position: relative;
	margin-bottom: 10px;
}
#page #head #contact {
	float: right;
	height: 20px;
	width: 50%;
	position: relative;
	margin-top: 5px;
}
#page #head #contact a{
	color: #FFFFFF;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 10px;
}
#page #main #content #media {
	float: right;
	height: auto;
	width: auto;
	position: relative;
	background-color: #FFE9A6;
	padding: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#page #head #contact td {
	color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: dotted;
	border-right-color: #FFFFFF;
}
#page #head #register {
	color: #FFFFFF;
	margin-top: 48px;
	float: right;
	height: 20px;
	width: 760px;
	position: relative;
}
#page #head #register a{
	color: #FFFFFF;
}
#page #head #register td{
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	padding-right: 10px;
	padding-left: 10px;
}
#page #head #logo {
	float: left;
	height: auto;
	width: auto;
	margin: 10px;
}
#page #main #left {
	float: left;
	height: auto;
	width: 180px;
	background-color: #CCCCCC;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid #999999;
	margin-right: 0px;
}
#page #main #content {
	background-color: #FFFFFF;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	float: right;
	height: 100%;
	width: 760px;
	padding: 5px;
}

#page #bottom {
	height: 100px;
	width: 100%;
	float: left;
	margin-top: 10px;
	background-color: #FFFFFF;
	background-image: url(images/bbot.gif);
	background-repeat: repeat-x;
}
#page #main #left #menu #punkte {
	height: auto;
	width: 100%;
}
.TD_LINE {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #666666;
}
